{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
      </a>
      <div class="warble-area">
        <div class="message-area">
          <a href="/users/{{ user.id }}">@{{ user.username }}</a>
          <span class="text-muted">
            {{ message.timestamp.strftime('%d %B %Y') }}
          </span>
          <p>{{ message.text }}</p>
        </div>
        <div class="star-area">
          <form method="POST" action="/like">
            {{ g.csrf_form.hidden_tag() }}
            <input hidden name="message_id" value="{{ message.id }}">
            <button class="starButton far fa-star"></button>
          </form>
          {% else %}
          <form method="POST" action="/unlike">
            {{ g.csrf_form.hidden_tag() }}
            <input hidden name="message_id" value="{{ message.id }}">
            <button class="starButton fas fa-star"></button>
        </div>
      </div>
      </form>
</div>
</li>

{% endfor %}

</ul>
</div>
{% endblock %}